[build]
builder = "NIXPACKS"

[build.env]
NPM_CONFIG_PRODUCTION = "false"
NODE_ENV = "production"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.healthcheck]
path = "/api/health"
interval = 30
timeout = 10
retries = 3
